
<section ng-show="visuMedCtrl.media!=undefined">
	<form noactivate class="form-horizontal" name="media" ng-submit="visuMedCtrl.modificationMedia()">
		<div class="form-group">
			<label for="titre" class="col-sm-2 control-label hidden-xs">Titre :</label>
			<div class="col-sm-4 divInput">
				<input ng-model="visuMedCtrl.media.titre" type="text" class="form-control" name="titre" placeholder="Titre" />
			</div>		
			<label class="col-sm-1 control-label hidden-xs">Type :</label>
			<div class="col-sm-4">
				<select ng-model="visuMedCtrl.media.type" class="form-control" style="font-family:'FontAwesome', Arial;" name="type" ng-change="visuMedCtrl.calculDateReturn()">
					<option value="Livre">&#xf02d; Livre</option>
					<option value="CD">&#xf001; CD</option>
					<option value="DVD">&#xf008; DVD</option>
				</select>
  			</div>				
			</div>		
			<div class="form-group">
				<label class="col-sm-2 control-label hidden-xs">Auteur :</label>
				<div class="col-sm-4">
					<input ng-model="visuMedCtrl.media.auteur"type="text" class="form-control" name="auteur" placeholder="Auteur" />
				</div>
				<div class="checkbox col-sm-offset-8">
					<label>
						<input ng-checked="visuMedCtrl.mediaEmprunter" ng-model="visuMedCtrl.showFormAjout" type="checkbox" ng-disabled="!visuMedCtrl.showFormAjout" id="estEmprunte"/>
						<strong> M&eacute;dia emprunt&eacute;</strong>
					</label>
				</div>
			</div>
		<div class="form-group">
   			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default btn-success">Enregistrer</button>
			</div>
		</div>
	</form>
	<div>
	<table class="table table-striped table-bordered table-hover " >
		<thead>
			<tr>
				<th>Nom de l'emprunteur</th>
				<th>Date de l'emprunt</th>
				<th>Date de retour pr&eacute;vu</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="emprunteur in visuMedCtrl.emprunteurs">
				<td ng-bind="visuMedCtrl.nomPrenom(emprunteur)"></td>
				<td ng-bind="emprunteur.depart | date: 'yyyy-MM-dd'"></td>
				<td ng-bind="emprunteur.retour | date: 'yyyy-MM-dd'"></td>
			</tr>
		</tbody>		
	</table>
	</div>
	
	<div class="col-xs-12" ng-show="!visuMedCtrl.showFormAjout">
		<form noactivate class="form-horizontal" name="emprunteur" >
			<div ng-show="visuMedCtrl.error.badNom">
				<label class="error col-sm-10 col-sm-offset-2">Le Nom est invalide !</label>
			</div>
			<div ng-show="visuMedCtrl.error.badDate">
				<label class="error col-sm-10 col-sm-offset-2">La Date est invalide !</label>
			</div>
		
		
			<div class="form-group labelAjout">
				<label class="col-sm-4 hidden-xs">Nom adherent:</label>
				<label class="col-sm-4 hidden-xs">Date emprunt :</label>
				<label class="col-sm-4 hidden-xs">Date retour :</label>
			</div>
			<div class="form-group">
				<div  class="col-xs-12 col-sm-4 divInput">
					<input type="text" class="form-control" name="nom" placeholder="Nom adherent" ng-model="visuMedCtrl.nomAdh" ng-change="visuMedCtrl.rechercheAdherents()" required/>
				</div>
				<div  class="col-xs-12 col-sm-4 divInput">
					<input type="date" class="form-control" name="date" ng-model="visuMedCtrl.dateToday" ng-change="visuMedCtrl.calculDateReturn()" required/>
				</div>
				<div  class="col-xs-12 col-sm-4 divInput">
					<input type="date" class="form-control" ng-model="visuMedCtrl.dateReturn" disabled/>
				</div>			
			</div>
			<div class="form-group">
				<div  class="col-xs-12 col-sm-4 divInput" ng-show="visuMedCtrl.showSelect">
					<select class="form-control" style="font-family:'FontAwesome', Arial;" ng-model="visuMedCtrl.idAdh" ng-options="adh.id as adh.id+'/ '+adh.nom+' '+adh.prenom for adh in visuMedCtrl.adherents"/>
				</div>
				<button class="btn btn-info col-sm-offset-9 col-md-offset-10 col-md-2 col-sm-3 col-xs-12 ">Ajout</button>
			</div>
			
		</form>
	</div>
</section>
