local.properties
local.yml
application-dev.yml
.springBeans

#env/ide
*.class
*.jar
*.war
*.ear
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.iml
*.ipr
*.iws
.idea/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
!.gitignore
*~
src/liferay.properties
target/
test-output/
test_output/
/target
/src/main/webapp/ui
/src/main/webapp/ui_*
*.log
nb-configuration.xml
/src/main/resources/jasper/MyReports/*
nbactions.xml
