/****************
Zino
*****************/
.loginbody {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #eee;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .hideuser {
    display:none;
  }
   .hidepass {
    display:none;
  }
}


form div.withMargin {
	margin-left : 5px;
	margin-right : 5px;
	margin-bottom : 10px;
}

form{
	margin-top : 5px;
	margin-bottom : 5px;
}

.tabPagination {
	margin-top : -25px;
}

body {
	padding-left : 15px;
	padding-right : 15px;
	background-image:url(image/light_texture2269.jpg);
  	background-repeat: no-repeat;
  	background-position: center;
  	background-attachment: fixed;
 	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */

}

.bodyBuilder table {
	background-color : white;
}

.form-group.labelAjout {
		margin-bottom : 0px;
}


.divInput {
	margin-bottom : 15px;
}
	
.btpAjout {
	margin-left : 15px;
}

.checkbox.visu {
	margin-left : 15px;
}



.centreText {
	text-align: center;
	vertical-align: middle;
}

.boldText {
	font-weight: bold;
}





a.info {
	position: relative;
	color: black;
	text-decoration: none;
}

a.info:hover {
	background: none; /* Correction d'un bug d'Internet Explorer. */
	text-decoration: none;
	z-index: 500;
	cursor: help;
}

a.info span.info {
	display: none;
}

a.info:hover span.info {
	display: inline;
	position: absolute;
	white-space: nowrap;
	right: 20px;
	background: white;
	color: black;
	padding: 3px;
	border: 1px solid black;
	border-radius: 5px;
}

