
<h2 class="form-signin-heading">Connexion</h2>

	
<form novalidate class="form-signin" ng-submit="topCtrl.connect()">
	<div class="row" ng-show="topCtrl.error.badLogin">
		<label class="error col-sm-4 col-xs-12">Nom d'utilisateur ou mot de passe incorecte !</label>
	</div>
	<div class="row" ng-show="topCtrl.error.serverDown">
		<label class="error col-sm-4 col-xs-12">Serveur indisponible !</label>
	</div>
	
	<div class="row">
		<div class="col-sm-4 col-xs-12">
			<label class="hideuser hidden-xs"> Nom d'utilisateur : </label>
			<input type="text" id="user" class="form-control" placeholder="Nom d'utilisateur" ng-model="topCtrl.identifier">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-xs-12" style="margin-top: 10px">
			<label class="hidepass hidden-xs"> Mot de passe:</label>
			<input type="password" id="password" class="form-control" placeholder="Mot de passe" ng-model="topCtrl.password">
		</div>
	</div>

	<div class="row rowlogin" style="margin-top: 10px">
		<div class="col-sm-2 col-xs-12">
			<div class="checkbox">
				<label> <input type="checkbox" ng-model="topCtrl.rememberMe"> Se souvenir
				</label>
			</div>

			<input type="submit" id="password" class="btn btn-success btn-lg" value="Validation"/>
		</div>
	</div>

</form>

