<div class="container">
	<section>
		<form class="form-horizontal" name="adherent" ng-submit="visuAdherentCtrl.submitAdherent()">
			<div class="form-group">
				<label for="titre" class="col-sm-2 control-label hidden-xs">Nom :</label>
				<div class="col-sm-4 col-md-3 divInput">
					<input ng-model="visuAdherentCtrl.adherent.nom" type="text" class="form-control" id="titre" placeholder="Titre" value="Langlade" required/>
				</div>
				<label for="titre" class="col-sm-2 col-lg-1  control-label hidden-xs">Prenom :</label>
				<div class="col-sm-4 col-md-3">
					<input ng-model="visuAdherentCtrl.adherent.prenom" type="text" class="form-control" id="titre" placeholder="Titre" value="Thomas" required/>
				</div>				
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label hidden-xs">Date de naissance :</label>
				<div class="col-sm-2 divInput">
					<div class="input-group">		
						<span class="input-group-addon" id="basic-addon1"><span class="fa fa-birthday-cake" data-toggle="tooltip" title="Date de naissance"></span></span>
						<input ng-model="visuAdherentCtrl.adherent.date_naissance" type="date" class="form-control" id="birthday" placeholder="Date de naissance" value="1990-11-29" required/>
					</div>	
				</div>
				<label for="titre" class="col-sm-3 col-md-2 control-label hidden-xs">E-mail :</label>
				<div class="col-sm-5 col-md-4 col-lg-3">
					<input ng-model="visuAdherentCtrl.adherent.email" type="email" class="form-control" id="mail" placeholder="E-mail" value="Thomas.Langlade@hotmail.com" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label hidden-xs">Adresse :</label>
				<div class="col-lg-7 col-sm-10 col-md-8 col-lg-9">
					<input ng-model="visuAdherentCtrl.adherent.adresse.ligne1" type="text" class="form-control divInput" id="adresse" placeholder="Adresse" value="350 rue de la Coupianne" required/>
					<input ng-model="visuAdherentCtrl.adherent.adresse.ligne2" type="text" class="form-control" id="adresse2" placeholder="Adresse" value="" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label hidden-xs">CP :</label>
				<div class="col-sm-2 divInput">
					<input ng-model="visuAdherentCtrl.adherent.adresse.codepostal" type="text" class="form-control" id="cp" placeholder="CP" value="83100" required/>
				</div>
				<label class="col-sm-2 col-md-1 control-label hidden-xs">Ville :</label>
				<div class="col-sm-3">
					<input ng-model="visuAdherentCtrl.adherent.adresse.ville" type="text" class="form-control" id="ville" placeholder="Ville" value="Toulon" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label hidden-xs">Date de paiement de la cotisation :</label>
				<div class="col-sm-3 col-lg-2 divInput">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><span class="fa fa-calendar-o" data-toggle="tooltip" title="Date de paiement de la cotisation"></span></span>
						<input ng-model="visuAdherentCtrl.adherent.cotisation.debut" type="date" class="form-control" id="paiement" placeholder="Date de paiement" value="2010-06-15" required/>
					</div>
				</div>
				<label class="col-sm-2 control-label hidden-xs">Montant :</label>
				<div class="col-sm-3 col-lg-2">
					<div class="input-group">
						<input ng-model="visuAdherentCtrl.adherent.cotisation.montant" type="number" class="form-control" id="montant" placeholder="Montant" value="1500" required/>
						<span class="input-group-addon">&euro;</span>	
					</div>
				</div>
			</div>
			
			
					
			
			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
  					<button type="submit" class="btn btn-default btn-success">Enregistrer</button>
  				</div>
  			</div>
		</form>
		<div>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Titre du m&eacute;dia</th>
						<th>Date de l'emprunt</th>
						<th>Date de retour pr&eacute;vu</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emprunt in visuAdherentCtrl.adherent.emprunt">
						<td ng-bind="emprunt.media.titre"></td>
						<td ng-bind="emprunt.depart | date: 'dd-MM-yyyy'"></td>
						<td ng-bind="emprunt.retour | date: 'dd-MM-yyyy'"></td>
					</tr>
				</tbody>		
			</table>
		</div>
		
	<div class="col-xs-12 formAjout">
		<form class="form-horizontal" ng-submit="visuAdherentCtrl.submitMedia()">
			<div class="form-group labelAjout">
				<label class="col-sm-4 hidden-xs">Titre du media:</label>
				<label class="col-sm-4 hidden-xs">Date emprunt :</label>
				<label class="col-sm-4 hidden-xs">Date retour :</label>
			</div>
			<div class="form-group">
				<div  class="col-xs-12 col-sm-4 divInput">
					<input type="text" class="form-control" id="NomAdherent" placeholder="Nom adherent" ng-model="visuAdherentCtrl.titreMedia" ng-change="visuAdherentCtrl.rechercheMedias()" />
				</div>
				<div  class="col-xs-12 col-sm-4 divInput">
					<input type="date" class="form-control" id="DateEmprunt" ng-model="visuAdherentCtrl.dateToday" ng-change="visuAdherentCtrl.calculDateReturn()" />
				</div>
				<div  class="col-xs-12 col-sm-4 divInput">
					<input type="date" class="form-control" id="DateRetour" ng-model="visuAdherentCtrl.dateReturn" disabled/>
				</div>			
			</div>
			<div class="form-group">
				<div  class="col-xs-12 col-sm-4 divInput" ng-show="visuAdherentCtrl.showSelect">
					<select class="form-control" style="font-family:'FontAwesome', Arial;" ng-model="visuAdherentCtrl.idMedia" ng-options="media.id as media.id+'/ '+media.titre for media in visuAdherentCtrl.medias"/>
				</div>
				<button class="btn btn-info col-sm-offset-9 col-md-offset-10 col-md-2 col-sm-3 col-xs-12 ">Ajout</button>
			</div>
		</form>
	</div>
	</section>
</div>