thead {
	color: green;
}

tbody {
	color: blue;
}

tfoot {
	color: red;
}

table, th, td {
	border: 1px solid black;
}

tr.big td {
	font-weight: bold;
}

label.error {
	font-weight: plain;
	color: red;
	font-size: 13px;
}